/*
* @Author: Feynman
* @Date: 2020-08-20 19:49:37
* @Last Modified by: Feynman
* @Last Modified Time: 2020-08-20 19:52:59
*/
/*屏幕宽度在340px和410px之间的样式*/
/* @media(min-width: 340px) and (max-width: 410px){

} */

/*用一个区间内的样式当作基础样式*/
/*样式2*/
html{
    font-size: 20px;
}

/*屏幕宽度小于340px时的样式*/
@media(max-width: 340px){
    html{
        font-size: 18px;
    }
}

/*屏幕宽度大于410px时的样式*/
@media(min-width: 410px){
    html{
        font-size: 22px;
    }
}

body{
    max-width: 640px;
    margin: 0 auto;
    background: #f8f8f8;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.fx-mask{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 300;
}

.login-wrap{
    position: fixed;
    width: 300px;
    height: 400px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 1px solid red;
    /* transform: translateY(-100px); */
}